.roomContainer {
  padding: 100px 50px;
  background: #27272b;
  padding-top: 50px;
  border-radius: 30px;
  @media screen and (min-width: 768px) {
    min-width: 600px;
    margin: 0 auto;
    max-width: 600px;
  }
  @media screen and (max-width: 768px) {
    padding: 20px;
    border-radius: 15px;
  }
  .userData {
    h1 {
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  .balls {
    .ballsImg {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      img {
        width: 150px;
        height: 150px;
        @media screen and (max-width: 768px) {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
  .admin {
    margin-top: 30px;
    h2 {
      font-size: 20px;
    }
    .ballsSelect {
      margin: 15px 0;
    }
  }
  .hideBalls {
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    background: #04d361;
    border-radius: 4px;
    margin-top: 30px;
  }
  .ballItem {
    position: relative;
    span {
      position: absolute;
      color: red;
      font-size: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      cursor: pointer;
      @media screen and (max-width: 768px) {
        font-size: 55px;
      }
    }
  }
  .startMatch {
    background: #04d361;
    color: #fff;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
    margin-top: 10px;
  }
}
